* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
}

#tableSection {
    font-size: 1.5em;
}

#tableSection table {
    background-color: rgb(220, 212, 212);
}

#tableSection table, #tableSection td, #tableSection th{
    border: 1px solid;
}

#tableSection th{
    cursor: pointer;
    color: rgb(0, 0, 0);
    border-color: black;
}